:root {
  --color-background-main: #0d0d0d;
  --color-background-contrast: #000000;
  --color-light: #ffffff;
  --color-light-darker: #ffffffb3;
  --color-text-alternative: #e6e6e6;
  --color-border-main: #3e4142;
  --color-elements-main: #1e1e1e;
  --color-inputs-main: #464646;
  --color-elements-shadow: #1e1e1eb3;
  --color-highlight: #dcdcdc4d;
  --color-shadow-main: #000000b3;
  --color-blue-soft: #2e3037;
  --color-wealth: #c39f76;
  --color-magic: #32328c;
  --color-knowledge: #195ec8;
  --color-royal: #6f65da;
}
