*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid var(--color-magic);
}

::selection {
  background-color: var(--color-magic);
}

body {
  font-family: $font--primary;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  color: var(--color-light);
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background-main);
  margin: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and ($mobile-width) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
